.collapsibleWrapper {
  position: relative;
  width: 100%;
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(135deg, #cf2dab, #40e8ff, #6a41dd, #b62e76);
  overflow: hidden;
  margin-bottom: 20px;
}

.collapsibleInner {
  border-radius: 11px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.postContentGradient {
  background: linear-gradient(to bottom, #fdf5ff, #fcfcfc);
}

.commentContentGradient {
  background: linear-gradient(to bottom, #f5f8ff, #fcfcfc);
}

:global(.dark) .postContentGradient {
  background: linear-gradient(to bottom, #2a2a34, #1e1e28);
}

:global(.dark) .commentContentGradient {
  background: linear-gradient(to bottom, #202331, #1a1c25);
}

.collapsibleTrigger {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  font-weight: 500;
  color: hsl(var(--foreground));
  background: transparent;
  border: none;
  cursor: pointer;
}

.collapsibleTrigger:hover {
  opacity: 0.8;
}

.chevronIcon {
  color: hsl(var(--foreground));
  font-weight: 600;
  transition: transform 0.3s ease;
  width: 1rem;
  height: 1rem;
}

.collapsibleContent {
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  font-size: 14px;
}

.collapsibleContent[data-state="open"] .chevronIcon {
  transform: rotate(180deg);
}
